<!DOCTY
PE html>
<html>
<body>
<div class="container">
<div id="form">

<h1 class="form-h1">Daily Expenses Tracker App</h1>

<form action="/action_tracker">
  <label for="fname">First name:</label>
  <input type="text" id="fname"  name="fname"><br><br>
 <label for="Lname">Last name:</label>
<input type="text" name="lastname" id="lastName">
<br><br>
 <label for="email">email address:</label>
<input type="text" id="email"  name="email"><br><br>
<label for="code">Password:</label>
  <input type="hidden" placeholder="Enter password" id="password"> 
  <input type="submit" value="Submit">
</form>

</div>
</div>
</body>
</html>
