<div class="container">
<div id="form">

<h1 class="form-h1">Login</h1>

<form action="/login">
<label for="email">email address:</label>
<input type="text" id="email"  name="email"><br><br>
<label for="code">Password:</label>
  <input type="hidden" placeholder="Enter password" id="password">
  <input type="submit" value="Submit">
</form>

</div>
</div>